{% extends "basic.html" %}

{% block body %}
<html>
<head>
<h1 style="text-align:center; color:tomato">BIODATA</h2>
</head>



<hr>
<body><font size=5><font color="tomato">
<img src="https://scontent.fdac8-1.fna.fbcdn.net/v/t39.30808-6/273617073_1096134754294427_7787336775221263559_n.jpg?stp=dst-jpg_s1080x2048&_nc_cat=103&ccb=1-5&_nc_sid=a4a2d7&_nc_eui2=AeEIv1dcYprlUCFPXMi-4DZhAF4iInWVRdoAXiIidZVF2g9zMvbEEEkR9R-LfV8d9eQYVEJ3Gv2uC46NCB5A2ezb&_nc_ohc=X8RA7F9xemwAX_0CHUL&tn=tO66UFu9stx0HFme&_nc_ht=scontent.fdac8-1.fna&oh=00_AT_AedX3VlTeTtWnmcsK5D0DcP_CAqWPM9AflLGsmTE3_g&oe=624425D7" align="right"hspace="200" height=550 width=550 px>
Name:Md.Moinul Islam<br>
Father's name:Md.Safiqul Islam<br>
Mothers's name:Mamela Begum<br>

Address:Kaliakair,Gazipur<br>
Mobile no:01772149759<br>
Religion:Muslim<br>
Nationality:Bangladeshi<br>
Gender:Male<br>

<table style="width:50%"border=3>
  <h1 style="text-align:center">Education</h2>
    <tr>
      <th scope="col">Degree</th>
      <th scope="col">Institution</th>
      <th scope="col">Result</th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>B.Sc</td>
      <td>Daffodil International University</td>
      <td>3.50</td>
     
    </tr>
    <tr>
      <td>H.S.C</td>
      <td>Dhaka city college</td>
      <td>4.17</td>
     
    </tr>
    <tr>
      <td>S.S.C</td>
      <td>Bhawman Talabaha Model High school</td>
      <td>5.00</td>
    </tr>
</body>
</html>

{% endblock %}